:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color-scheme: light dark;
  color: #0A0A0A;
  background-color: #F5F5F5;
}

body {
  margin: 0;
}

button {
  color: #fff;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  background-color: #A500DD;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-text {
  margin-left: 8px;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: 16px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  width: 295px;
  position: relative;
  margin-top: 5px;
}

.card-header {
  padding: 16px 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #e5e5e5;
}

.card-header-text {
  margin-left: 8px;
  font-weight: 600;
}

.card-body {
  padding: 16px 8px;
}

.card-actions {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-action-top {
  margin: -9px auto 0;
}

.card-action-bottom {
  margin: 0 auto -10px;

}

.arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow:last-child {
  display: none;
}

.arrow-line {
  width: 2px;
  height: 40px;
  background: #A500DD;

}

.arrow-head {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #7c3aed;
}